{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <form method="POST">
    <h3 align="center">Register</h3>
    <div class="">
      <label for="email">Email Address</label>
      <input type="email" class="" id="email" name="email" placeholder="Enter Email"/>
    </div>

    <div class="">
      <label for="firstName">First Name</label>
      <input type="text" class="" id="firstName" name="firstName" placeholder="First Name"/>
    </div>

    <div class="">
      <label for="lastName">Last Name</label>
      <input type="text" class="" id="lastName" name="lastName" placeholder="Last Name"/>
    </div>

    <div class="">
      <label for="password">Password</label>
      <input type="password" class="" id="password" name="password" placeholder="Password"/>
    </div>

    <br/>
    <button type="submit" class="">Submit</button>
  </form>
{% endblock %}
