.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 226.667px;
  height: 349.323px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(77, 77, 79, 0.08), 0 0 2px 0 rgba(77, 77, 79, 0.16);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  position: relative;
  text-decoration: none;
  padding: 8px; /* Added padding */
}

.product-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.product-details {
  flex-grow: 1; /* Allow the details section to grow */
}

.add-to-cart-btn {
  display: inline-block;
  padding: 10px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto; /* Push the button to the bottom */
}

.add-to-cart-btn:hover {
  background-color: #0077cc;
}
