<navbar></navbar>

<div class="product-grid">
  <div *ngFor="let product of products" class="product-item">
    <img src="{{ product.picture }}" alt="{{ product.name }}" class="product-image">
    <div class="product-details">
      <h6>{{ product.name }} - {{product.color}}</h6>
      <p>Price: R{{ product.price }} <em>In Stock:{{ product.stock }}</em></p>
      <button class="add-to-cart-btn" (click)="addToCart(product)">
        <i class="fa fa-shopping-cart" > Add to Cart</i>
      </button>

    </div>
  </div>
</div>





<router-outlet></router-outlet>
