<html>

<head>
<title>Assessment one</title>
</head>

<body>
<h1>Hello {{name|capitalize}} Welcome to my Website!</h1>
<p>I'm excited to eventually learn Flask!</p>
<a href="https://youtube.com">This takes you to YouTube!</a> 

<p>Here is a picture of a puppy:</p>
<img src="puppy_pic.jpg">
<ol>Here are the reasons Flask is cool
<li>Very Simple</li>
<li>Lots of available add ons</li>
<li>Create a website in a few minutes</li>

</ol>
<h2>Bonus:</h2>
<p>The picture below is a link</p>
<a href="http://facebook.com">
<img src="fb.png">
</a>


</body>
</html>




	

	
  
 
  