<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Mobile Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-link" *ngIf="!isLoggedIn" routerLink="/register">Register</li>
      <li class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Login</li>

      <li ngbDropdown class="nav-item dropdown" [ngClass]="{'show': isLoggedIn}">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="isLoggedIn">
          {{ userEmail }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" *ngIf="isLoggedIn && user_role == 'cust'">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" *ngIf="isLoggedIn && user_role == 'admin'">
          <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart" *ngIf="isLoggedIn && user_role == 'cust'">
          <i class="fas fa-shopping-cart"></i>
        </a>

      </li>

    </ul>

  </div>
</nav>

